html {
  font-size: 15px;
  line-height: 1.4em;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  color: #333;
}

h2 {
  font-size: 2.1rem;
  line-height: 1.4em;
  border-bottom: 2px solid #ccc;
  position: relative;
  padding: 0 0 8px 0;
  margin: 0 0 20px 0;
}

h2:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  z-index: 2;
  background-color: #008086;
  height: 2px;
  width: 80px;
}

.btn_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px 0 0 0;
}

.btn_primary {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #008086;
  width: 240px;
  height: 55px;
  background-color: #fff;
  border: 1px solid #008086;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.btn_primary:hover {
  background-color: #008086;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn_primary:first-child {
  margin: 0 30px 0 0;
}

.bg_white {
  background-color: #fff !important;
}

.clr:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

.wrap {
  width: 100%;
  margin: auto;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.header {
  width: 200px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 200px;
  padding: 20px;
}

.header .logo img {
  width: 100%;
}

.header .global_nav {
  margin: 0 0 20px 0;
}

.header .global_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .global_nav ul li a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  width: 100%;
  padding: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header .global_nav ul li a:hover {
  background-color: #eee;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #008086;
}

.header .global_nav ul li a:after {
  position: absolute;
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-top: 1px solid #008086;
  border-right: 1px solid #008086;
  right: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .global_nav ul li a i {
  margin: 0 0 0 5px;
  font-size: 0.7rem;
}

.header .global_nav ul li .important_nottice {
  font-size: 0.8rem;
  line-height: 1.4em;
}

.header .global_nav ul li .important_nottice::after {
  content: none;
}

.header .sub_nav li {
  margin: 0 0 15px 0;
}

.header .sub_nav li .primary_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  margin: 0 10px;
  border: 1px solid #ddd;
  font-size: 0.9rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header .sub_nav li .primary_btn:hover {
  background-color: #008086;
  color: #fff;
  border: 1px solid #008086;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header .sub_nav li .primary_btn i {
  font-size: 1.3rem;
  margin: 0 20px 0 0;
}

.header .sub_nav li .secondary_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  margin: 0 10px 0 10px;
  border: 1px solid #008086;
  background-color: #008086;
  color: #fff;
  font-size: 0.9rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header .sub_nav li .secondary_btn:hover {
  color: #008086;
  background-color: #fff;
  border: 1px solid #008086;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header .sub_nav li .secondary_btn i {
  font-size: 1.3rem;
  margin: 0 20px 0 0;
}

.header .language ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .language ul li {
  padding: 0 10px;
}

.header .language ul li:nth-child(2) {
  border-right: 1px solid #aaa;
}

.header .language ul li a {
  display: block;
  font-size: 0.8rem;
  font-weight: 300;
  text-decoration: underline;
}

.container {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main {
  width: 100%;
}

.mv {
  width: 100%;
  overflow: hidden;
  background-color: #000;
}

.mv div {
  width: 100%;
}

.mv div img {
  width: 100%;
}

.contents {
  padding: 40px 70px;
  background-color: #f6f6f6;
}

.contents .contents-inner {
  max-width: 1000px;
  margin: auto;
}

.product p {
  font-size: 1.1rem;
  line-height: 1.7em;
  margin: 0 0 20px 0;
}

.product .section-secondary .title-secondary {
  font-size: 1.2rem;
  border-left: 5px solid #008086;
  padding: 4px 0 4px 15px;
  margin: 0 0 16px 0;
}

.product .section-secondary .wrap-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0 30px 0;
}

.product .section-secondary .wrap-secondary .box-secondary {
  position: relative;
  width: 33%;
  background-color: gray;
  margin: 0 0 0 30px;
}

.product .section-secondary .wrap-secondary .box-secondary .img-secondary {
  overflow: hidden;
}

.product .section-secondary .wrap-secondary .box-secondary .img-secondary img {
  width: 100%;
  margin: auto;
}

.product .section-secondary .wrap-secondary .box-secondary .figure-secondary {
  position: absolute;
  width: 100%;
  height: 44px;
  bottom: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #007f86e1;
  color: #fff;
}

.product .section-secondary .wrap-secondary .box-secondary:first-child {
  margin: 0;
}

.product .tab_btn {
  width: 1000px;
  margin: 60px auto 30px auto;
  background-color: #fff;
  font-size: 1rem;
}

.product .tab_btn ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product .tab_btn ul li {
  position: relative;
  width: 50%;
}

.product .tab_btn ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 63px;
}

.product .tab_btn ul li a:hover {
  background-color: #008086;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.product .tab_btn ul li:first-child {
  border-right: 1px solid #ddd;
}

.pickup {
  margin: 0 0 30px 0;
}

.pickup .ttl_pickup {
  font-size: 1.4rem;
  border: none;
  margin: 0;
}

.pickup .ttl_pickup::before {
  content: none;
}

.pickup .pickup_slider {
  position: relative;
}

.pickup .pickup_slider .slides {
  border: 1px solid #eee;
  display: block;
  height: 100% !important;
  margin: 0 20px 0 0;
}

.pickup .pickup_slider .slides img {
  width: 100%;
  height: auto;
}

.pickup .pickup_slider .slick-arrow {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  margin: -20px 0 0;
  z-index: 2;
  text-indent: -9999px;
}

.pickup .pickup_slider .slick-arrow::before {
  content: "";
  display: block;
  width: 50%;
  height: 50%;
  border-top: 1px solid #008086;
  border-right: 1px solid #008086;
  position: absolute;
  top: 25%;
  left: 25%;
}

.pickup .pickup_slider .slick-prev {
  left: -35px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.pickup .pickup_slider .slick-next {
  right: -35px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.news .sort_tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 0 0;
}

.news .sort_tab li {
  padding: 0 20px;
}

.news .sort_tab li:first-child {
  padding: 0 20px 0 0;
}

.news .sort_tab li a {
  display: block;
  border-bottom: 3px solid #fff;
  padding: 16px 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.news .sort_tab li a:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.news .sort_tab li .sort_all:hover {
  color: #467c86;
  border-bottom: 3px solid #467c86;
}

.news .sort_tab li .sort_news:hover {
  color: #465586;
  border-bottom: 3px solid #465586;
}

.news .sort_tab li .sort_ir:hover {
  color: #738646;
  border-bottom: 3px solid #738646;
}

.news .sort_tab li .sort_csr:hover {
  color: #867546;
  border-bottom: 3px solid #867546;
}

.news .sort_tab li .sort_info:hover {
  color: #864678;
  border-bottom: 3px solid #864678;
}

.news .sort_tab li .sort_product:hover {
  color: #9d3a3a;
  border-bottom: 3px solid #9d3a3a;
}

.news .sort_tab li .active {
  color: #467c86;
  font-weight: 500;
  border-bottom: 3px solid #467c86;
}

.news .news_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.news .news_list li {
  border-bottom: 1px solid #dfdfdf;
}

.news .news_list li:first-child {
  border-top: 1px solid #dfdfdf;
}

.news .news_list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 23px 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.news .news_list li a:hover {
  color: #008086;
  background-color: #f4f6f6;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.news .news_list li a .news_date {
  margin: 0 20px 0 0;
  font-size: 0.9rem;
}

.news .news_list li a .news_tag_group .news_tag {
  text-align: center;
  font-size: 0.9rem;
  width: 120px;
  color: #fff;
  background-color: #008086;
  margin: 0 20px 5px 0;
}

.news .news_list li a .news_tag_group .tag_news {
  background-color: #465586;
}

.news .news_list li a .news_tag_group .tag_ir {
  background-color: #738646;
}

.news .news_list li a .news_tag_group .tag_csr {
  background-color: #867546;
}

.news .news_list li a .news_tag_group .tag_info {
  background-color: #864678;
}

.news .news_list li a .news_excerpt i {
  font-size: 1.2rem;
  margin: 0 5px;
}

.footer {
  padding: 20px;
  background: #f6f6f6;
  font-size: 12px;
  line-height: 1.4em;
}

.footer .footer_sitemap {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer_sitemap div {
  width: 18%;
  padding: 0 0 0 1em;
}

.footer .footer_sitemap div .list_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}

.footer .footer_sitemap div .list_head:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 3px;
  background-color: #008086;
  left: -1em;
}

.footer .footer_sitemap div ul li {
  margin: 10px 0;
}

.footer .footer_sitemap div ul li a {
  font-weight: 300;
}

.footer .footer_sitemap div ul li a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */